<%- include('header') %>
<h1>Compose</h1>
<form class="" action="compose" method="post">
  <label>Title</label>
  <input class='textbox' type="text" name="newPost" value="">
<label>Post</label>
  <input class='textbox long' type="text" name="postText" value="">
  <button class='publish' type="submit" name="button">Publish</button>
</form>

<%- include('footer') %>
